<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>zhao-login</title>
    <script type="text/javascript" src="/song/js/package/jquery3.2.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/song/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/song/css/page/register.css"/>
	<link rel="stylesheet" href="/song/css/package/bootstrap/bootstrap4.3.1.min.css">
	<script type="text/javascript" src="/song/css/package/bootstrap/bootstrap4.3.1.js"></script>

</head>
<body>
<div id="register">
    <div class="left_grid" id="left_grid">
        <div class="lunbotu" style="display: block;">
            <img src="/song/img/login/1.jpg" alt="">
        </div>
        <div class="lunbotu">
            <img src="/song/img/login/3.jpg" alt="">
        </div>
        <div class="lunbotu">
            <img src="/song/img/login/2.jpg" alt="">
        </div>
        <div class="left_grid_info">
            <img src="/song/img/head/head3.jpg" class="img-circle col-lg-5 col-md-5 col-sm-5 col-xs-5" id="ImgHead">
        </div>
    </div>
    <div class="right_grid">
        <div class="right_info">
            <h2>Login</h2>
            <p>Vestibulum est nulla, fermentum eget euismod et, tincidunt at dui dolor sit.</p>

            <div class="input_group" style="display: flex;">
                <i class="tubiao"><i class="fa fa-envelope"></i></i>
                <input name="user_mail" type="text" placeholder="Eamil" required/>
            </div>
            <div class="input_group">
                <i class="tubiao"><i class="fa fa-lock"></i></i>
                <input name="user_password" type="text" placeholder="Password" required/>
            </div>
            <a href="#"><h4>Forget your password-></h4></a>
            <a href="#"><h4 style="margin-left: 160px;">register here</h4></a>
            <button type="submit" class="submit_btb">Login Now</button>
        </div>
    </div>
        <script type="text/javascript" src="/song/js/zhaos/register.js"></script>
</div>
</body>
</html>
