<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>音乐播放器</title>
    <script src="/song/js/package/jquery3.2.1.js"></script>

    <link rel="stylesheet" href="/song/css/general/general.css">
    <link rel="stylesheet" href="/song/css/animation/my-animation.css">
    <link rel="stylesheet" href="/song/css/general/general.css">
    <link rel="stylesheet" href="/song/css/general/my-button.css">
    <link rel="stylesheet" href="/song/css/general/my-ul.css">
    <link rel="stylesheet" href="/song/css/general/my-title.css">
    <link rel="stylesheet" href="/song/css/general/my-wrap.css">
    <link rel="stylesheet" href="/song/css/general/my-carousel.css">
    <link rel="stylesheet" href="/song/css/general/my-div.css">
    <link rel="stylesheet" href="/song/css/general/my-img.css">
    <link rel="stylesheet" href="/song/css/general/my-paging.css">
    <link rel="stylesheet" href="/song/css/general/my-windmills.css">
    <link rel="stylesheet" href="/song/css/general/my-sidebar.css">
    <link rel="stylesheet" href="/song/css/general/my-songlist.css">
    <link rel="stylesheet" href="/song/css/general/my-player.css">


    <link rel="stylesheet" href="/song/css/position/my-fixed.css">
    <link rel="stylesheet" href="/song/css/position/my-alsoluate.css">
    <link rel="stylesheet" href="/song/css/position/my-relative.css">
    <link rel="stylesheet" href="/song/css/display/my-flex.css">

    <link rel="stylesheet" href="/song/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/song/css/page/index.css">
    <link rel="stylesheet" href="/song/css/page/user.css">

    <link rel="stylesheet" href="/song/css/page/my-model.css">
</head>
<body>
<div class="fixed my-player">
    <div class="my-player-item"><!--播放器顶部-->
        <div class="img-warp">
            <img src="/song/img/head/headunlogin.png" alt="头像">
        </div>
    </div>
    <div class="my-player-item my-flex">
       <!-- 播放器中部-->
        <div style="background: red;overflow: auto;height: 500px;width: 66.6%">
            左边
            <div class="my-song-list my-song-list-single">
                小分页1
                <ul class="my-ul2 my-songList-operation my-flex my-flex-start">
                    <li class="li-select2"><a href="javascript:void(0);"><span
                            class="fa fa"></span><span>播放全部</span></a></li>
                    <li><a href="javascript:void(0);"><span
                            class="fa fa"></span><span>添加到</span></a></li>
                    <li><a href="javascript:void(0);"><span
                            class="fa fa"></span><span>下载</span></a></li>
                    <li><a href="javascript:void(0);"><span
                            class="fa fa"></span><span>批量处理</span></a>
                        <input class="my-song-list-index" type="hidden" value="1">
                    </li>
                </ul>
                <ul class="my-songList-head">
                    <li class="my-songList-items my-flex">
                        <input type="checkbox" class="songList-check" value="12345">
                        <div class="head-item my-songList-item my-flex my-flex-start">歌曲</div>
                        <div class="head-item my-songList-item my-flex my-flex-start">歌手</div>
                    </li>
                </ul>
                <ul class="my-songList-body">
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="my-flex my-songList-items">
                        <input type="checkbox" class="songList-check" checked="checked" value="111">
                        <div class="body-item my-songList-item my-relative">
                            <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad
                                asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                            <div class="my-absolute my-songList-control">
                                <div class="my-relative">
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="body-item my-songList-item my-relative">
                            <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                            <div class="my-absolute my-songList-control my-flex">
                                <div>
                                    <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="my-relative" style="background: yellow;width:33.3%;text-align: center">
            <!--右边-->
            <div style="top: 0;left:0;width: 100%;height:140px;text-align: center">
                <div class="img-warp item-rotate my-flex my-flex-center-all">
                    <img src="https://y.gtimg.cn/music/photo_new/T002R300x300M000001WXfh40uUkm7.jpg?max_age=2592000" alt="歌的图片">
                </div>
            </div>
            <p> 歌曲名字<span>2019无敌串烧</span></p>
            <p> 歌手名字<span>崔铭嘉</span></p>
            <div class="my-absolute my-player-lrc">

                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
                <p>这里是歌词</p>
            </div>
        </div>
    </div>
    <div class="my-player-item">播放器底部
        <div style="background: darkgoldenrod;height: 160px;" class="my-flex my-flex-center-all">
            <div ></div>
        </div>
    </div>
</div>
<script src="/song/js/user/user.js"></script>
<script src="/song/js/model/model.js"></script>
<script src="/song/js/index/top-bar.js"></script>
<script src="/song/js/index/page-index.js"></script>
<script src="/song/js/search/search.js"></script>
<script src="/song/js/general/my-ul.js"></script>
<script src="/song/js/general/my-carousel.js"></script>
<script src="/song/js/general/my-paging.js"></script>
<script src="/song/js/general/my-windmills.js"></script>
<script src="/song/js/general/my-sidebar.js"></script>
<script src="/song/js/general/my-songList.js"></script>

<script src="/song/js/ajax/ajax-function.js"></script>
</body>
</html>