<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my-songlist</title>
    <script src="/song/js/package/jquery3.2.1.js"></script>

    <link rel="stylesheet" href="/song/css/general/general.css">
    <link rel="stylesheet" href="/song/css/animation/my-animation.css">
    <link rel="stylesheet" href="/song/css/general/general.css">
    <link rel="stylesheet" href="/song/css/general/my-button.css">
    <link rel="stylesheet" href="/song/css/general/my-ul.css">
    <link rel="stylesheet" href="/song/css/general/my-title.css">
    <link rel="stylesheet" href="css/general/my-wrap.css">
    <link rel="stylesheet" href="/song/css/general/my-carousel.css">
    <link rel="stylesheet" href="/song/css/general/my-div.css">
    <link rel="stylesheet" href="/song/css/general/my-img.css">
    <link rel="stylesheet" href="/song/css/general/my-paging.css">
    <link rel="stylesheet" href="/song/css/general/my-windmills.css">
    <link rel="stylesheet" href="/song/css/general/my-sidebar.css">
    <link rel="stylesheet" href="/song/css/general/my-songlist.css">


    <link rel="stylesheet" href="/song/css/position/my-fixed.css">
    <link rel="stylesheet" href="/song/css/position/my-alsoluate.css">
    <link rel="stylesheet" href="/song/css/position/my-relative.css">
    <link rel="stylesheet" href="/song/css/display/my-flex.css">

    <link rel="stylesheet" href="/song/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/song/css/page/index.css">
    <link rel="stylesheet" href="/song/css/page/user.css">

    <link rel="stylesheet" href="/song/css/page/my-model.css">
</head>
<body>
<div class="my-div-larger">
    <div id="page-user-windmills-11" class="my-windmills my-div-middle">
        <div class="my-windmill my-windmill-select">

            <ul id="page-user-windmills-2" class="my-ul my-flex my-flex-start">
                <li class="li-select my-windmill-bar"><a
                        href="javascript:void(0);"><span>歌曲</span><span id="likeSongLength">57</span></a></li>
                <li class="my-windmill-bar"><a
                        href="javascript:void(0);"><span>歌单</span><span id="likeSongListLength">1</span></a></li>
                <li class="my-windmill-bar"><a
                        href="javascript:void(0);"><span>专辑</span><span>2</span></a></li>
                <li class="my-windmill-bar"><a
                        href="javascript:void(0);"><span>视频</span><span id="uploadVideoLength">0</span></a></li>
            </ul>
            <div id="page-user-windmills-22">
                <div class="my-windmill my-windmill-select my-song-list my-song-list-single">
                    小分页1
                    <ul class="my-ul2 my-songList-operation my-flex my-flex-start">
                        <li class="li-select2"><a href="javascript:void(0);"><span
                                class="fa fa"></span><span>播放全部</span></a>
                        </li>
                        <li><a href="javascript:void(0);"><span
                                class="fa fa"></span><span>添加到</span></a>
                        </li>
                        <li><a href="javascript:void(0);"><span
                                class="fa fa"></span><span>下载</span></a>
                        </li>
                        <li><a href="javascript:void(0);"><span
                                class="fa fa"></span><span>批量处理</span></a>
                        </li>
                    </ul>
                    <ul class="my-songList-head">
                        <li class="my-songList-items my-flex">
                            <input type="checkbox" class="songList-check" value="12345">
                            <div class="head-item my-songList-item my-flex my-flex-start">歌曲</div>
                            <div class="head-item my-songList-item my-flex my-flex-start">歌手</div>
                        </li>
                    </ul>
                    <ul class="my-songList-body">
                        <li class="my-flex my-songList-items">
                            <input type="checkbox" class="songList-check" checked="checked" value="歌的id">
                            <input type="hidden" value="歌的src">
                            <div class="body-item my-songList-item my-relative">
                                <p>MV《前任3》saasdasddad《前任3》MVMV《dasdsad asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                                <div class="my-absolute my-songList-control">
                                    <div class="my-relative">
                                        <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="body-item my-songList-item my-relative">
                                <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                                <div class="my-absolute my-songList-control my-flex">
                                    <div>
                                        <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="my-flex my-songList-items">
                            <input type="checkbox" class="songList-check" checked="checked" value="111">
                            <div class="body-item my-songList-item my-relative">
                                <p>MV《前任3》saasdadadasdadasddaddadasdsdasddasddad《前任3》MVMV《dasdsad asd》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MVMV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》MV《前任3》</p>
                                <div class="my-absolute my-songList-control">
                                    <div class="my-relative">
                                        <a href="javascript:void(0);"><span class="my-h3 fa fa-play"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="body-item my-songList-item my-relative">
                                <p>于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问于文文与问问与问问</p>
                                <div class="my-absolute my-songList-control my-flex">
                                    <div>
                                        <a href="javascript:void(0);"><span class="my-h3 fa fa-trash-o"></span></a>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="my-windmill">小分页2</div>
                <div class="my-windmill">小分页3</div>
                <div class="my-windmill">小分页4</div>
            </div>
        </div>
        <div class="my-windmill">2</div>
        <div class="my-windmill">3</div>
        <div class="my-windmill">4</div>
        <div class="my-windmill">5</div>
    </div>
</div>
<script src="/song/js/user/user.js"></script>
<script src="/song/js/model/model.js"></script>
<script src="/song/js/index/top-bar.js"></script>
<script src="/song/js/index/page-index.js"></script>
<script src="/song/js/search/search.js"></script>
<script src="/song/js/general/my-ul.js"></script>
<script src="/song/js/general/my-carousel.js"></script>
<script src="/song/js/general/my-paging.js"></script>
<script src="/song/js/general/my-windmills.js"></script>
<script src="/song/js/general/my-sidebar.js"></script>
<script src="/song/js/general/my-songList.js"></script>

<script src="/song/js/ajax/ajax-function.js"></script>
</body>
</html>